<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta property="og:title" content="Shellscript Todo App" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta name="description" content="" />
    <link
      rel="stylesheet"
      href="/static/css/style.css"
      media="screen and (min-width:768px)"
    />
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/trash-icon.js"></script>
    <title>Shellscript Todo App</title>
  </head>
  <body>
    <div class="app-container">
      <h1>Shellscript Todo App</h1>
      <!--- ___TASK_CREATE_FORM___ --->
      <!--- ___TASKS___ --->
    </div>
  </body>
</html>
